# Compilation artifacts
arduino-cloud-cli
arduino-cloud-cli.exe

# Configuration file
config.yaml

# Sketch compilation results
firmware/binaries
firmware/provision/**/build
*.bin
*.elf
*.uf2
*.ota
*.hex
*.map
