# Compilation artifacts
arduino-cloud-cli
arduino-cloud-cli.exe

# Configuration file
arduino-cloud-credentials.*

# Provisioning binaries and metadata
firmware/binaries
firmware/provision/**/build

# Temporary files
coverage_unit.txt