name: Check License Headers

env:
  GO_VERSION: "1.23"

on:
  push:
  pull_request:

jobs:
    check-license-headers:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                go-version: ${{ env.GO_VERSION }}

            - name: Install Taskfile
              run: |
                curl -L https://taskfile.dev/install.sh | sh -s -- -b /usr/local/bin

            - name: Check license headers
              run: |
                task go:add-license-headers
                git diff --exit-code || (echo "License headers are missing. Please run 'task go:add-license-headers' to fix them." && exit 1)